<form class="question-form" (ngSubmit)="onSubmit(questionForm)" #questionForm="ngForm">
    <mat-form-field>
        <input matInput placeholder="Titulo" name="title" ngModel>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Descripcion" name="description" ngModel>
    </mat-form-field>
    
    <!--Create the grid list for the icons-->
    <mat-grid-list cols="3" rowHeight="3:2">
        <!--Icon help-->
        <mat-grid-tile>
            <mat-radio-group [ngModel] name="question_Icon">
                <mat-radio-button value="none">
                    <i mat-list-icon class="material-icons">help</i>
                </mat-radio-button>
            </mat-radio-group>
        </mat-grid-tile>
        
        <mat-grid-tile *ngFor="let icon of icons">
            <mat-radio-group [ngModel] name="question_Icon">
                <mat-radio-button value="devicon-{{ icon.name }}-{{ getIconVersion(icon) }}">
                    <i mat-list-icon class="devicon-{{ icon.name }}-{{ getIconVersion(icon) }}"></i>
                </mat-radio-button>
        </mat-radio-group>
        </mat-grid-tile>
    </mat-grid-list>
    <button type="submit" mat-raised-button color='accent'>Enviar</button>
</form>